# Manipulating DataFrames with pandas

## Extracting and transforming data

In [3]:
import numpy as np
import pandas as pd

In [4]:
df_airport = pd.read_csv('/home/xenakas/Desktop/Git/py_projects/airports/airports.csv', index_col=0, header=None, na_values = {9:['\\N']})

# export 
# df_airport.to_csv(out_csv)
# df_airport.to_csv(out_tsv, sep='\t', index=False)
# df_airport.to_excel(out_xlsx, index=False)

In [7]:
df_airport.iloc[1:3,2:4]

                  3    4
0
2  Papua New Guinea  MAG
3  Papua New Guinea  HGU

In [8]:
df_airport.loc[1:3,2:4]

             2                 3    4
0
1       Goroka  Papua New Guinea  GKA
2       Madang  Papua New Guinea  MAG
3  Mount Hagen  Papua New Guinea  HGU

In [12]:
print(type(df_airport[3]), type(df_airport[[3]]))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [13]:
df_airport.loc[3:7,: ]

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports

In [16]:
df_airport.loc[7:3:-1]

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports
6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [20]:
df_airport[::-7].head(5)

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,,,,,,,,,,,
12057,Shenyang Dongta Airport,Shenyang,China,\N,ZYYY,41.784401,123.496002,0,NaN,\N,\N,airport,OurAirports
12050,Huatugou Airport,Mengnai,China,HTT,ZLHX,38.201984,90.841495,2945,NaN,\N,\N,airport,OurAirports
12043,Warren Airport,NaN,Australia,QRR,YWRN,-31.733299,147.802994,669,NaN,\N,\N,airport,OurAirports
12036,Smithton Airport,NaN,Australia,SIO,YSMI,-40.834999,145.084000,31,NaN,\N,\N,airport,OurAirports
12029,Kempsey Airport,NaN,Australia,KPS,YKMP,-31.074400,152.770004,54,NaN,\N,\N,airport,OurAirports