# Airports

In [6]:
import numpy as np
import pandas as pd

In [7]:
airports = pd.read_csv('/home/xenakas/Desktop/Git/py_projects/airports/airports.csv',names = ['Airport ID','Name','City','Country','IATA','ICAO','Latitude','Longitude','Altitude','Timezone','DST','Tz_database_time_zone','Type','Source'])
airports.head(4)

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports

In [9]:
routes = pd.read_csv('/home/xenakas/Desktop/Git/py_projects/airports/routes.csv',names = ['Airline','Airport ID','Source airport','Source airport ID','Destination airport','Destination airport ID','Codeshare','Stops','Equipment'])

routes.head(4)

,Airline,Airport ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2

In [8]:
airlines = pd.read_csv('/home/xenakas/Desktop/Git/py_projects/airports/airlines.csv',names = ['Airline ID','Name','Alias','IATA','ICAO','Callsign','Country','Active'])

airlines.head(4)

   Airline ID            Name Alias IATA ICAO Callsign        Country Active
0          -1         Unknown    \N    -  NaN       \N             \N      Y
1           1  Private flight    \N    -  NaN      NaN            NaN      Y
2           2     135 Airways    \N  NaN  GNL  GENERAL  United States      N
3           3   1Time Airline    \N   1T  RNX  NEXTIME   South Africa      Y

In [10]:
airports[airports['Altitude'] >= 14000]['IATA']

5000    BPX
5819    NGQ
Name: IATA, dtype: object

In [11]:
ports = routes[(routes['Source airport']=='BPX')|(routes['Source airport']=='NGQ')|(routes['Destination airport']=='NGQ')|(routes['Destination airport']=='NGQ')]
ports = np.unique(ports.Airline.values)
ports

array(['CA', 'MU', 'TV', 'ZH'], dtype=object)

In [12]:
np.array([airlines[airlines['IATA']==i]['Name'].values for i in ports ]).T

array([['Air China', 'China Eastern Airlines', 'Virgin Express',
        'Shenzhen Airlines']], dtype=object)